.backdrop {
	background-image: url("images/background3.jpg");
	background-size: cover;

}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

a{
	text-decoration: none;
}

.top-nav {
	background-color: #00331C;
  	text-align: center;
 	border: 2px solid rgba(111,41,97,.5);

}
.top-nav a {
	color: white;
	text-decoration: none;
}

.top-nav ul {
  list-style: none;
  padding: 0;
  color: white;

}

.top-nav li {
  font-family: helvetica;
  font-weight: bold;
  display: inline-block;
  width: 100px;
  //padding: 5px;
  user-select: none;
}

.top-nav li:hover{
  text-decoration: underline;
}

.top-nav li:active {
  color: #fff;
}

.top-nav .pulldown-menu{
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #333;
  border-radius: 4px;
}
.top-nav .pulldown-menu li{
  color: #333;
  display: block;

}
.top-nav li:hover .pulldown-menu{
  display: block;
}
.active-page {
	padding: 18px;
	background-color: purple;
}

.bio-block {
	height: 60%;
    width: 80%;
    border: 20px solid #00331C;
    margin-left: 9%;
    margin-bottom: 10%;
    margin-top: 5%;
}

.description {
    vertical-align: top;
    display: inline-block;
    width: 38%;
    //border: 2px solid black;
    height: 100%

}

.description p {
	text-align: center;
    font-family: helvetica;
    font-size: 19;
    text-shadow: 1px 1px white;
	width: 90%;
	margin-left: 5%;
	line-height: 1.5;
}

.photo {
    display: inline-block;
    width: 280px;
    height: 550px;
    border-left: 5px solid #00331C;
    border-right: 5px solid #00331C;

}
.photo img{
    height: 45%;
    margin-left: 20%;
    margin-top: 50%;
    border-radius: 50%;
}

.amount {
    vertical-align: top;
    display: inline-block;
    width: 36%;
    height: 100%;
    //border: 2px solid black;
}

.bio-block h2 {
    text-align: center;
    font-family: helvetica;
    font-size: 28;
    text-shadow: 2px 2px white;
}

.amount p {
    margin-left: 3%;
    font-family: helvetica;
}

.bar-container {
    width: 95%;
    background-color: #ccff99;
    margin-left: 3%;
    border: 1px solid black;
}

.skills {
  text-align: right;
  padding-top: 2%;
  padding-bottom: 2%;
  color: white;
}

.python {width: 95%; background-color: #00331C;}
.cpp {width: 90%; background-color: #00331C;}
.sql {width: 70%; background-color: #00331C;}
.js {width: 80%; background-color: #00331C;}
.ml {width: 95%; background-color: #00331C;}
