.backdrop {
	background-image: url("images/background3.jpg");
	background-size: cover;

}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
}

a{
	text-decoration: none;
}

.top-nav {
	background-color: #00331C;
  	text-align: center;
 	border: 2px solid rgba(111,41,97,.5);

}
.top-nav a {
	color: white;
	text-decoration: none;
}

.top-nav ul {
  list-style: none;
  padding: 0;
  color: white;

}

.top-nav li {
  font-family: helvetica;
  font-weight: bold;
  display: inline-block;
  width: 100px;
  //padding: 5px;
  user-select: none;
}

.top-nav li:hover{
  text-decoration: underline;
}

.top-nav li:active {
  color: #fff;
}

.top-nav .pulldown-menu{
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #333;
  border-radius: 4px;
}
.top-nav .pulldown-menu li{
  color: #333;
  display: block;

}
.top-nav li:hover .pulldown-menu{
  display: block;
}

.photo {
	//border: 2px solid black;
	//background-color: #00331C

}
.photo img{
	margin-right: -700px;
	border-radius: 80%;
	max-height: 600px;
	border: 10px solid #00331C;
	background-color: #00331C

}

.bio{
	align-items: center;
	max-width: 90%;
	margin-left: 3%;
	//background-color: #00331C;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	text-align: center;
	font-family: helvetica;
	border: 20px solid #00331C;
	color: white;
	margin-bottom: 10%


}

.social {
	height: 100%;
	margin-left: 50%;
	min-width: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: #00331C;

}
.social img {
	max-width: 50px;
}

.name {
	color: black;
}

.name h2{
	font-size: 50px;
	text-shadow: 3px 3px white;

}
.name p {
	font-size: 20;
	text-shadow: 1px 1px white;
}
.projects {
	margin-top: 15%;
	margin-bottom: 5%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 700px;

}
.fantasy {
	color: white;
	text-decoration: none;
}
.fantasy img{
	min-width: 280px;
	border-radius: 50%;
	opacity: 1;
}
.fantasy-box {
	width: 200px;
	margin-top: -180px;
	margin-left: 40px;
	font-size: 20;
	transition: .5s ease;
 	opacity: 0;
	text-decoration: none;


}

.fantasy:hover .fantasy-image {
  opacity: 0.3;

}
.fantasy:hover .fantasy-box {
	opacity: 1;
}




.scrabble {
	color: white;
	text-decoration: none;
	margin-right: 10px;
}

.scrabble img{
	border-radius: 50%;
	max-width: 270px;
	min-height: 270px
}

.scrabble-text {
	width: 200px;
	margin-top: -180px;
	margin-left: 40px;
	font-size: 20;
	transition: .5s ease;
 	opacity: 0;
}

.scrabble:hover img {
  opacity: 0.3;
}

.scrabble:hover .scrabble-text {
	opacity: 1;
}
